Makefile
Makefile.in
.deps
/configure
/config.status
/config.log
/config.cache
/config.h
/config.h.in
/stamp-h?
/.version
/autom4te.cache
/aclocal.m4
/po/POTFILES
/po/yagiws.pot
/po/stamp-po
/po/remove-potcdate.sed
*.o
src/yagiws
