Makefile
Makefile.in
.deps
.dirstamp
*.swp
/configure
/config.status
/config.log
/config.cache
/config.h
/config.h.in
/stamp-h?
/.version
/autom4te.cache
/aclocal.m4
/po/POTFILES
/po/yasrws.pot
/po/stamp-po
/po/remove-potcdate.sed
*.o
*.gmo
src/yasrws
gnulib/libgnu.a
gnulib/alloca.h
gnulib/assert.h
gnulib/errno.h
gnulib/fcntl.h
gnulib/float.h
gnulib/getopt-cdefs.h
gnulib/getopt.h
gnulib/inttypes.h
gnulib/langinfo.h
gnulib/limits.h
gnulib/locale.h
gnulib/math.h
gnulib/pthread.h
gnulib/sched.h
gnulib/stdckdint.h
gnulib/stddef.h
gnulib/stdint.h
gnulib/stdlib.h
gnulib/string.h
gnulib/sys_random.h
gnulib/sys_stat.h
gnulib/sys_types.h
gnulib/time.h
gnulib/uchar.h
gnulib/unicase.h
gnulib/unictype.h
gnulib/uninorm.h
gnulib/unistd.h
gnulib/unitypes.h
gnulib/uniwidth.h
gnulib/wchar.h
gnulib/wctype.h
gnulib/sys
